.mappoint { 
  display: block;
  position: absolute;
}
#dismap {
  display: block;
  cursor:pointer;   
  z-index:-1;
}
.pointer-tooltip-class {
  display: none;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0; 
  position: absolute;
  z-index: 1; 
}
.pointer-tooltip-class h3 {
  text-align: center;
}
.pointer-tooltip-class p {
  padding-left: 6px;
}
.dis-title {
  color:#000;
}
