<div id="dismap" style="background:url('{{ arg.image_url }}') 0 0 no-repeat;width:{{ arg.image_width }}px;height:{{ arg.image_height }}px">
{% for key, content in contents %}    
    <img pointer-tooltip = "{{ key }}" src="{{ arg.marker_url }}" class="mappoint" width="{{ arg.marker_width }}" height="{{ arg.marker_height }}" style="margin-left: {{ content.pointerX }}px;margin-top: {{ content.pointerY }}px;" />
    <div class="pointer-tooltip-class" id="pointer-tooltip{{ key }}" style="margin-left: {{ content.pointerX }}px;margin-top: {{ content.pointerY }}px;">
        <h3>{{ content.title }}</h3>
        <p>{{ content.description|raw }}</p>
    </div>
{% endfor %}
</div>
