<span style="font-size:12px;font-weight:bold;">{{ arg.block_title }}</span>
<div id="dismap" style="background:url('{{ arg.image_url }}') 0 0 no-repeat;width:{{ arg.image_width }}px;height:{{ arg.image_height }}px">
  <img src="{{ arg.marker_url }}" class="mappoint" width="{{ arg.marker_width }}" height="{{ arg.marker_height }}" style="margin-left: {{ arg.pointerX }}px;margin-top: {{ arg.pointerY }}px;" />
</div>
